
<%= link_to "series/#{name}", method: :get do %>
    
    <div class="container">
    <div class="wrapper">

    <div class="image__tag">
        <%= image_tag(series[:image_url], alt: name, class: "banner-image" ) %>
    </div>
    <div class="card_content">
        <h3 class="series_title"><%= name %></h3>
        
        <p class="series_about"><%= truncate( series[:about], length: 100)%></p>
    </div>
    </div></div>
<% end %>
