

    
    <div class="review_container">
    

     <div class="review_user">
        <h3>User:</h3>
        <h4 class="review_text"><%= user_email %></h4>
    </div>
    <div class="review_content">
        <h3>Review:</h3>
        <h4 class="review_text"><%= @review[:content] %></h4>
    </div>
   
    </div>
