<h1>Hello <%= current_user.email %></h1>
<p>Here are all your reviews:</p>
<h1>My Reviews</h1>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <%= render(MyReviewComponent.new(review,find_series_title(review[:series_id]))) %>
    
  <% end %>
<% else %>
  <p>No reviews found.</p>
<% end %>