<% if notice %>
	<div class="notice">
        <p class="notice"><%= notice %></p>
       
	</div>
<% end %>

<% if alert %>
	<div class="alert" >
        <p class="alert"><%= alert %></p>
	</div>
<% end %>