
<div class="home_text padding_about"> 
<h1 class="home_title">🚀 Introducing my first Ruby on Rails 7 app: </h1>
<h2 class="home_title">A stellar creation inspired by <span class="star_trek_text">Star Trek!</span> 🖖</h2>

<p class="about_paragraph">Hey there, fellow tech enthusiasts and Star Trek aficionados! I've embarked on an exciting journey, diving headfirst into the world of Ruby on Rails 7 to create an amazing app centered around our beloved sci-fi series, Star Trek. Brace yourselves for an exhilarating tale of my first encounter with this incredible tool!</p>

<p class="about_paragraph">If you're ready to embark on your own adventures in coding and have a soft spot for Star Trek, I wholeheartedly recommend giving Ruby on Rails 7 a spin. Trust me, you'll find yourself boldly coding where no one has coded before!

Live long and prosper! 🖖✨</p>
</div>