
<div class="home_text padding_about"> 
<h1 class="home_title">🚀 Introducing my first Ruby on Rails 7 app: </h1>
<h2 class="home_title">A stellar creation inspired by <span class="star_trek_text">Star Trek!</span> 🖖</h2>

<p class="about_paragraph">Hey there, fellow tech enthusiasts and Star Trek aficionados! I've embarked on an exciting journey, diving headfirst into the world of Ruby on Rails 7 to create an amazing app centered around our beloved sci-fi series, Star Trek. Brace yourselves for an exhilarating tale of my first encounter with this incredible tool!</p>

<p class="about_paragraph">As I boldly delved into this new territory, I discovered a world of possibilities, pushing boundaries and coding where no one had gone before. Join me in embracing this exciting journey and may we both live long and prosper in our coding endeavors! 🖖✨</p>
</div>