:root {
  --primary-color: #003349;
  --secondary-color: #93a7b0;
  --background-color: #161618;
  --text-color: #cfd8dd;
  --border-radius: 50%;
  --font-family: "Roboto", sans-serif;
  --breakpoint-large: 1600px;
  --breakpoint-medium: 768px;
  --breakpoint-small: 576px;
  --spacing-small: 10px;
  --spacing-medium: 30px;
  --spacing-large: 60px;
}
